@import './var.css';
/* ========================== */
/* Commons */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    }

body {
    font-family: 'Inter', sans-serif;
}
.space {
    padding: 0 2rem;
}

/* Commons end */
/* ========================== */
/* Header */

header {
    padding: 2rem 2rem 0 2rem;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header end */
/* ========================== */
/* Main */

.main {
    padding-left: 2rem;
    display: flex;

}
.main-text {
    padding-top: 4rem;
    width: 70%;
}
.main-text h5 {
    color: var(--sub-color);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.main-text h1 {
    font-size: 48px;
    font-weight: 900;
}
.main-text p {
    font-size: 20px;
    font-weight: 400;
    color: var(--common-color);
} 
.main-bgc {
    background-image: url(../img/graphic.png);    background-size: cover;    
    background-repeat: no-repeat;    
    background-position: -5rem -2rem;   
    width: 30%;
}
.main-btn {
        border-radius: 30px;
        font-size: 1rem;
        padding: 1.15rem 3.38rem;
        font-weight: 600;
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(40deg, #ea220c,#ff6100, #ffe600);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset;
}

/* Main end */
/* ========================== */
/* Intro */

.intro {
    background-image: url(../img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25%;
    margin-top: 5rem;

}
.intro-block {
    padding-top: 7.62rem;
    padding-bottom: 2rem;
}
.intro-block h2 {
    font-size: 2.5rem;
    font-weight: 500;
}
.intro-block p {
    font-size: 1.25rem;
}
/* Intro end */
/* ========================== */
/* Companies */

.companies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.c-img {
    flex-basis: 40%;

}
.c-boom {
    overflow: hidden;
}
.c-boom img{
    width: 14.25rem;
    color: var(--credit-color);
}
.c-opendoor {
    display: none;
}

/* Companies end */
/* ========================== */
/* NFT */


/* Text */

.nft-text h2 {
    font-size: 2.5rem;
    font-weight: 500;

}
.nft-text p{
    color: var(--common-color);
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: 2rem;
}
.nft-text p a{
    font-weight: 500;
    text-decoration: underline;
}

/* Text end */


/* Cards */

.nft-card-block {
    display: flex;
}
.nft-card {
    background-color: #EEEEEE;
    border-radius: 0.8rem;
    margin-right: 2rem;
}
.nft-c-info {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
}
.nft-c-right {
    text-align: right;
}
.nft-c-info li {
    padding: 0.3rem;
}
.nft-li-series {
    color: #FF8139;
    text-transform: uppercase;
    font-size: 0.75rem;
}
.nft-li-bid {
    color: #777777;
    text-transform: uppercase;
    font-size: 0.75rem;
}
.nft-li-mid {
    font-size: 1.25rem;
    font-weight: 500;
}
.nft-li-bot {
     font-size: 1.12rem;
     color: var(--credit-color);
}
.nft-c-info ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* NFT end */
/* ========================== */

